@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css 또는 global.css */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .slick-track {
    display: flex !important; /* 가로 정렬 강제 적용 */
    flex-direction: row; /* 가로 정렬 */
  }
  
  .slick-slide {
    display: block;
    height: auto !important;
  }
  